<?xml version="1.0"?>
<config>
<modules>
  <HubCo_LinkBySKU>
    <version>0.1.0</version>
  </HubCo_LinkBySKU>
</modules>
<global>
	<resources>
		<hubco_linkbysku_setup>
			<setup>
			    <module>HubCo_LinkBySKU</module>
			    <class>Mage_Core_Model_Resource_Setup</class>
			    <!-- class>HubCo_LinkBySKU_Model_Resource_Setup</class -->
			</setup>
		</hubco_linkbysku_setup>
	</resources>
	<models>
	  <hubco_linkbysku>
		  <class>HubCo_LinkBySKU_Model</class>
		  <resourceModel>hubco_linkbysku_resource</resourceModel>
	  </hubco_linkbysku>
    <hubco_linkbysku_resource>
        <class>HubCo_LinkBySKU_Model_Resource</class>
        <entities>
            <redirects>
                <table>hubco_linkbysku_redirects</table>
            </redirects>
        </entities>
    </hubco_linkbysku_resource>
	</models>
	<helpers>
  	<hubco_linkbysku>
    	<class>HubCo_LinkBySKU_Helper</class>
    </hubco_linkbysku>
  </helpers>
	<events>
    <controller_front_init_routers>
        <observers>
            <HubCo_LinkBySKU>
                <class>HubCo_LinkBySKU_Controller_Router</class>
                <method>initControllerRouters</method>
            </HubCo_LinkBySKU>
        </observers>
    </controller_front_init_routers>
	</events>
</global>
<frontend>
  <routers>
    <catalog><!-- Name of core module to be overridden  -->
      <args>
        <modules>
          <HubCo_LinkBySKU before="Mage_Catalog">HubCo_LinkBySKU</HubCo_LinkBySKU>
          <!-- Tell Magento to call our custom module before the Mage_Catalog module -->
        </modules>
      </args>
    </catalog>
  </routers>
</frontend>
</config>